ul
	{
	list-style-type:none;
	background-color:#c5c5c5;
	height:50px;
	overflow:hidden;
	}
li
	{
	float:left;
	}
li a, .drp
	{
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
	}
li .menu-item
{
	display:inline-block;
}
.menu-content
{
	display:none;
	position:absolute;
	background-color:#f8f8f8;
	z-index:1;
}
.menu-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.menu-item:hover .menu-content
{
	display:block;
}